body {
    display: flex;
    justify-content: center;
    align-items: center;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 10px;
    color: white;
}

#scores {
    display: inline;
}

#timer {
    display: inline;
}

.card {
    width: 800px;
    height: 600px;
    background-color: #268F99;
    margin: 50px 0 0 0;
    padding: auto;
    border-radius: 25px;

}

#question-container {
    padding: 10px;
    margin: 10px;
}

#question {
    flex: 0;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15pt;
    text-align: center;
    
}

.answer-button {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.button {
    padding: 10px;
    margin: 5px 0 10px 10px;
    color: black;
    background-color:white;
    border-radius: 8px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12pt;
}


